.header-ploma {
    --company-name: IGH Mega Computers;
    background-color: #010000fd;
    height: 90px;
    display: flex;
    align-items: center;
  }
  
  /*Ajustar texto del menu en el centro con margin-right*/
  .header-ploma-logo-container {
    margin-right: 350px;
  }
  
  .header-ploma-logo {
    height: 80px;
    width: 80px;
  }
  
  .header-ploma-texto {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
  .button-container {
    text-align: left;
}
 /*Boton Contactanosajustado a la izquierda de la pagina*/
.button-submit {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: rgb(0, 0, 0);
    display: inline-block; /* Cambiado de 'block' a 'inline-block' para que el botón respete el ancho mínimo */
    margin: 1rem 0; /* Modificado para evitar el margen lateral generado por 'auto' */
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
}
